/*************************************************
 * Common CSS classes for the Standard CFW Widgets
 *************************************************/

.legend-box {
	padding-left: 15px;
}

/* hide pyscript splash screen*/
#pyscript_loading_splash{
	display: none;
}

/* hide pyscript divs*/
.cfw-py-script, .cfw-py-config {
	display: none;
}

.cfw-easteregg-lightswitch-on{
	background-color: white;
	color: #202020;
	border-color: #202020;
}

.cfw-easteregg-lightswitch-off{
	background-color: #111111;
	color: #dddddd;
	border-color: #dddddd;
}